
.contact-section {
  background-color: #2E3944;
  color: #e6e6e6;
  text-align: center;
  padding: 50px 50px;
  width: 40vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top:-3vw
}
.contact-section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.contact-section p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
}
.links{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20vw;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.links img{
  height: 8vh;
  width: 4vw;
  border-radius: 50%;
}
