/* Content.css */
.content {
    background-color: #2E3944;
    border-radius: 10px;
    width: 90vw;
    max-width: 65vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    color: white;
    transition: transform 0.3s ease-in-out;
  }
  
  .content:hover {
    transform: translateY(-10px);
  }
  
  .content1 {
    margin-top: 5vh;
  }
  
  @media (max-width: 768px) {
    .content {
      width: 90vw;
    }
  }
  