.experience-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .experience-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .timeline{
    position: relative;
    width: 50vw;
    margin: 2vw auto;
  }
  .container{
    margin-top: 5vh;
    padding: 2vw 2vw;
    position: relative;
    background-color:#748d923c;
  }
  .timeline::after{
    content:'';
    position:absolute;
    width: 0.4vw;
    height: 100%;
    background-color: white;
    top: 0;
    left: -2vw;
  }
  .arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 15vh;
    left: -1.5vw;
    z-index: 1;
    border-top: 2vh solid transparent;
    border-bottom: 2vh solid transparent;
    border-left: 2vh solid white;
  }
  