
.card {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    width: 90vw;
    max-width: 22vw;
    height: 65vh;
    background-color: #2E3944;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    text-align: center;
    color: white;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card img {
    height: 24vh;
    width: 12vw;
    border-radius: 25px;
    border: 2px solid white;
  }
  
  button {
    display: inline-block;
    margin: 0 10px;
    color: #748d92;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    width: 12vw;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #748D92;
    color: white;
  }
  
  @media (max-width: 768px) {
    .card {
      width: 90vw;
      max-width: 90vw;
    }
  
    .card img {
      width: 50%;
    }
  
    button {
      width: 80%;
    }
  }
  