body{
  background-color: #212A31;
  margin: 0px;
  width: 89vw;
}
.box1{
  margin: -13px;
  height: 30vh;
  width: 100vw;
  background-color: #124E66;
}
.box2{
  margin-top: -30px;
  display: flex;
  justify-content: space-around;
  height: max-content;
  width: 98vw;
/* border: 2px solid white; */
}
@media (max-width: 768px) {
  .box2 {
    flex-direction: column;
    align-items: center;
  }
}